<div
  *ngIf="(submitted && formHasErrors()) || controlHasErrors() || getBadRequestErrors()"
  class="small text-danger mt-1 pl-1"
>
  <!-- Errores Angular. -->
  <div *ngIf="control.errors?.required">Campo requerido</div>
  <div *ngIf="control.errors?.email">No parece un correo electrónico valido</div>
  <div *ngIf="control.errors?.noPasswordMatch">Las contraseñas no coinciden</div>

  <!-- Errores obtenidos del backend pertenecientes al campo concreto. -->
  <div *ngIf="getBadRequestErrors()">
    <div *ngFor="let error of getBadRequestErrors()">{{ error }}</div>
  </div>
</div>
