<nc-page-base [breadcrumb]="breadcrumb">
  <div class="row">
    <div class="col-12">
      <nc-card>
        <!-- toolbar -->
        <div class="d-flex justify-content-start">
          <div>
            <a [routerLink]="[siteUrls.adminAccountsCreate]" class="btn btn-sm btn-outline-success">
              <span class="fas fa-user-plus"></span> Nuevo
            </a>
          </div>

          <div class="ml-auto">
            <button class="btn btn-sm btn-outline-primary">
              <span class="fas fa-filter"></span>
            </button>
          </div>
        </div>
        <!-- end toolbar -->

        <nc-table [apiResult]="apiResult" [loading]="loading">
          <thead ncThead>
            <tr
              ncTableHeader
              [tableHeaderConfig]="tableHeaderConfig"
              [apiResult]="apiResult"
              (clickOrdering)="onReloadData()"
            ></tr>
          </thead>

          <tbody ncTbody *ngIf="apiResult">
            <tr *ngFor="let user of apiResult.items" (click)="onSelectItem(user)" class="cursor-pointer">
              <td>{{ user.userName }}</td>
              <td>{{ user.fullName }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.created | date: "dd/MM/yyyy" }}</td>
              <td [innerHTML]="user.active | iconBoolean"></td>
            </tr>
          </tbody>
        </nc-table>

        <nc-pagination
          *ngIf="apiResult"
          [apiResult]="apiResult"
          (changePage)="onReloadData()"
          (changePageListNumber)="onReloadData()"
        >
        </nc-pagination>
      </nc-card>
    </div>
  </div>
</nc-page-base>
