@import "variables";
@import "~bootstrap/scss/bootstrap";

.arrow {
  position: relative;
  top: 1px;
  transition: all .3s ease-in-out;

  &.rotate {
    transform: rotate(180deg);
  }
}

.opacity3 {
  opacity: .3;
}
