<div class="form-group">
  <label *ngIf="label" [for]="id" [ngClass]="{ 'text-danger': isInvalid(), 'text-primary': !isInvalid() }">
    {{ label }}
  </label>

  <input
    [(ngModel)]="value"
    [id]="id"
    [value]="value"
    [disabled]="isDisabled"
    [type]="inputType"
    [ngClass]="{ extraCss: true, 'is-invalid': isInvalid() }"
    [placeholder]="placeholder"
    (ngModelChange)="onChangeValue($event)"
    class="form-control"
  />

  <nc-field-error
    *ngIf="form"
    [form]="form"
    [badRequest]="badRequest"
    [submitted]="submitted"
    [fieldText]="label"
    [fieldName]="fieldName"
  >
  </nc-field-error>
</div>
