<nav *ngIf="breadcrumb.hasItems()" class="nav-breadcrumb" aria-label="breadcrumb">
  <ol class="breadcrumb bg-white shadow-sm">
    <li (click)="toggleSidebar()" class="hide-sidebar small mr-2 cursor-pointer">
      <span class="fas fa-bars"></span>
    </li>

    <li *ngFor="let breadcrumb of breadcrumb.getItems()"
        [ngClass]="{'active': breadcrumb.active}"
        class="breadcrumb-item small">
      <a *ngIf="breadcrumb.active" [routerLink]="breadcrumb.link">
        <span *ngIf="breadcrumb.icon" class="icon is-small">
          <span [ngClass]="breadcrumb.icon" aria-hidden="true"></span>
        </span>
        {{breadcrumb.text}}
      </a>

      <span *ngIf="!breadcrumb.active" class="text-muted">
        <span [ngClass]="breadcrumb.icon" aria-hidden="true"></span>
        {{breadcrumb.text}}
      </span>
    </li>
  </ol>
</nav>
