<nc-page-base [breadcrumb]="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="card border-0 shadow-sm">
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
              <nc-non-field-errors [errors]="errors"></nc-non-field-errors>
              <div class="form-group">
                <label for="old-password">Contraseña actual</label>
                <input formControlName="oldPassword"
                       id="old-password"
                       class="form-control"
                       type="password">
                <nc-field-error [form]="form"
                                 [errors]="errors"
                                 [submitted]="submitted"
                                 fieldText="Contraseña actual"
                                 fieldName="oldPassword">
                </nc-field-error>
              </div>
              <div class="form-group">
                <label for="new-password">Nueva contraseña</label>
                <input formControlName="newPassword"
                       id="new-password"
                       class="form-control"
                       type="password">
                <nc-field-error [form]="form"
                                 [errors]="errors"
                                 [submitted]="submitted"
                                 fieldText="Nueva contraseña"
                                 fieldName="newPassword">
                </nc-field-error>
              </div>
              <div class="form-group">
                <label for="confirm-new-password">Repetir contraseña</label>
                <input formControlName="confirmPassword"
                       id="confirm-new-password"
                       class="form-control"
                       type="password">
                <nc-field-error [form]="form"
                                 [errors]="errors"
                                 [submitted]="submitted"
                                 fieldText="Repetir contraseña"
                                 fieldName="confirmPassword">
                </nc-field-error>
              </div>
              <div>
                <button [disabled]="loading" class="btn btn-primary" type="submit">
                  <span *ngIf="!loading">
                    Cambiar contraseña
                  </span>
                  <nc-spinner [loading]="loading" css="spinner-border-sm" text="loading" color="text-white"></nc-spinner>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</nc-page-base>
