<nc-page-base [breadcrumb]="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="card border-0 shadow-sm">
          <nc-card>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
              <nc-non-field-errors [badRequest]="badRequest"></nc-non-field-errors>

              <nc-form-input
                formControlName="oldPassword"
                fieldName="oldPassword"
                label="Contraseña actual"
                [form]="form"
                [badRequest]="badRequest"
                [submitted]="submitted"
                [inputType]="formTypes.password"
              >
              </nc-form-input>

              <nc-form-input
                formControlName="newPassword"
                fieldName="newPassword"
                label="Nueva actual"
                [form]="form"
                [badRequest]="badRequest"
                [submitted]="submitted"
                [inputType]="formTypes.password"
              >
              </nc-form-input>

              <nc-form-input
                formControlName="confirmPassword"
                fieldName="confirmPassword"
                label="Repetir contraseña"
                [form]="form"
                [badRequest]="badRequest"
                [submitted]="submitted"
                [inputType]="formTypes.password"
              >
              </nc-form-input>

              <div>
                <nc-btn-loading [loading]="loading" btnText="Cambiar contraseña"></nc-btn-loading>
              </div>
            </form>
          </nc-card>
        </div>
      </div>
    </div>
  </div>
</nc-page-base>
