<nc-page-base [breadcrumb]="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="card border-0 shadow-sm">
          <nc-card>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
              <nc-non-field-errors [errors]="errors"></nc-non-field-errors>

              <nc-form-input formControlName="oldPassword"
                             fieldName="oldPassword"
                             label="Contraseña actual"
                             [form]="form"
                             [errors]="errors"
                             [submitted]="submitted"
                             [inputType]="formTypes.password">
              </nc-form-input>

              <nc-form-input formControlName="password"
                             fieldName="password"
                             label="Nueva actual"
                             [form]="form"
                             [errors]="errors"
                             [submitted]="submitted"
                             [inputType]="formTypes.password">
              </nc-form-input>

              <nc-form-input formControlName="confirmPassword"
                             fieldName="confirmPassword"
                             label="Repetir contraseña"
                             [form]="form"
                             [errors]="errors"
                             [submitted]="submitted"
                             [inputType]="formTypes.password">
              </nc-form-input>

              <div>
                <button [disabled]="loading" class="btn btn-primary" type="submit">
                  <span *ngIf="!loading">
                    Cambiar contraseña
                  </span>
                  <nc-spinner [loading]="loading" extraCss="spinner-border-sm" text="loading" color="text-white">
                  </nc-spinner>
                </button>
              </div>
            </form>
          </nc-card>
        </div>
      </div>
    </div>
  </div>
</nc-page-base>
