<nc-page-base [breadcrumb]="breadcrumb">
  <div class="row">
    <div class="col-12">
      <nc-card>
        <nc-card-title>
          <h1>Lista de usuarios</h1>
        </nc-card-title>

        <nc-pagination *ngIf="transferData"
                       [transferData]="transferData"
                       [showPageList]="false"
                       [showTotalItems]="false"
                       [showPagesButtons]="false"
                       (changePage)="onReloadData()">
        </nc-pagination>

        <nc-table *ngIf="transferData" [transferData]="transferData" [loading]="loading">
          <thead>
            <tr ncTableHeader
                [headerConfig]="tableHeaderConfig"
                [transferData]="transferData"
                (clickOrdering)="onReloadData()">
            </tr>
          </thead>

          <ng-container *ngIf="!loading && transferData.items.length">
            <tbody>
              <tr *ngFor="let user of transferData.items" (click)="onSelectItem(user)" class="cursor-pointer">
                <td>{{user.userName}}</td>
                <td>{{user.fullName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.createAt | date: 'dd/MM/yyyy'}}</td>
                <td [innerHTML]="user.active | iconBoolean"></td>
              </tr>
            </tbody>
          </ng-container>
        </nc-table>

        <nc-pagination *ngIf="transferData"
                       [transferData]="transferData"
                       (changePage)="onReloadData()"
                       (changePageListNumber)="onReloadData()">
        </nc-pagination>
      </nc-card>
    </div>
  </div>
</nc-page-base>
