<nc-page-base [breadcrumb]="breadcrumb">
  <div class="row">
    <div class="col-12">
      <nc-card>
        <nc-pagination *ngIf="ApiResult"
                       [apiResult]="ApiResult"
                       [showPageList]="false"
                       [showPagesButtons]="false"
                       (changePage)="onReloadData()">
        </nc-pagination>

        <nc-table [apiResult]="ApiResult" [loading]="loading">
          <thead ncThead>
            <tr ncTableHeader
                [tableHeaderConfig]="tableHeaderConfig"
                [apiResult]="ApiResult"
                (clickOrdering)="onReloadData()">
            </tr>
          </thead>

          <tbody ncTbody *ngIf="ApiResult">
            <tr *ngFor="let user of ApiResult.items" (click)="onSelectItem(user)" class="cursor-pointer">
              <td>{{user.userName}}</td>
              <td>{{user.fullName}}</td>
              <td>{{user.email}}</td>
              <td>{{user.created | date: 'dd/MM/yyyy'}}</td>
              <td [innerHTML]="user.active | iconBoolean"></td>
            </tr>
          </tbody>
        </nc-table>

        <nc-pagination *ngIf="ApiResult"
                       [apiResult]="ApiResult"
                       (changePage)="onReloadData()"
                       (changePageListNumber)="onReloadData()">
        </nc-pagination>
      </nc-card>
    </div>
  </div>
</nc-page-base>
