<nc-page-title></nc-page-title>

<nc-card-align-center cssCard="col-lg-4 col-xl-3">
  <div class="text-center">
    <img src="assets/images/logo_mini.png" alt="logo">
  </div>

  <div class="mt-3 text-center">
    <h6 class="text-primary">Recupear contraseña</h6>
  </div>

  <div class="card-body mt-3">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <nc-non-field-errors [errors]="errors"></nc-non-field-errors>
      <div class="form-group">
        <div class="input-group has-icon">
          <i class="fas fa-envelope has-icon-left"></i>
          <input [ngClass]="{'is-invalid': submitted && control('email').errors}"
                 formControlName="email"
                 class="form-control"
                 type="text"
                 placeholder="Correo electrónico"
                 autofocus>
        </div>
        <nc-field-error [form]="form"
                         [errors]="errors"
                         [submitted]="submitted"
                         fieldText="Correo electrónico"
                         fieldName="email">
        </nc-field-error>
      </div>

      <button class="btn btn-block btn-primary mt-4">
            <span *ngIf="!loading">
              <i class="fas fa-unlock-alt"></i> Recuperar contraseña
            </span>
        <nc-spinner [loading]="loading" text="loading" color="text-white">
        </nc-spinner>
      </button>

      <div class="text-center small mt-3">
        <a [routerLink]="[urlsApp.login]">
          <i class="fas fa-sign-in-alt"></i> Identificarse
        </a>
      </div>
    </form>
  </div>
</nc-card-align-center>
