<nc-page-base [breadcrumb]="breadcrumb">
  <nc-card [loading]="loading" [spinnerSize]="100">
    <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
      <div class="row">
        <div class="col-12">
          <nc-non-field-errors [badRequest]="badRequest"></nc-non-field-errors>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <nc-form-input formControlName="userName"
                         fieldName="userName"
                         label="Nombre de usuario"
                         [form]="form"
                         [badRequest]="badRequest"
                         [submitted]="submitted">
          </nc-form-input>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 form-group">
          <nc-form-input formControlName="firstName"
                         fieldName="firstName"
                         label="Nombre"
                         [form]="form"
                         [badRequest]="badRequest"
                         [submitted]="submitted">
          </nc-form-input>
        </div>

        <div class="col-12 col-md-6 form-group">
          <nc-form-input formControlName="lastName"
                         fieldName="lastName"
                         label="Apellidos"
                         [form]="form"
                         [badRequest]="badRequest"
                         [submitted]="submitted">
          </nc-form-input>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 form-group">
          <nc-form-input formControlName="email"
                         fieldName="email"
                         label="Correo electrónico"
                         [form]="form"
                         [badRequest]="badRequest"
                         [submitted]="submitted"
                         [inputType]="formInputTypes.email">
          </nc-form-input>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 form-group">
          <nc-form-input formControlName="password"
                         fieldName="password"
                         label="Contraseña"
                         [form]="form"
                         [badRequest]="badRequest"
                         [submitted]="submitted"
                         [inputType]="formInputTypes.password">
          </nc-form-input>
        </div>

        <div class="col-12 col-md-6 form-group">
          <nc-form-input formControlName="confirmPassword"
                         fieldName="confirmPassword"
                         label="Confirmar contraseña"
                         [form]="form"
                         [badRequest]="badRequest"
                         [submitted]="submitted"
                         [inputType]="formInputTypes.password">
          </nc-form-input>
        </div>

        <div class="col-12 form-group">
          <div class="custom-control custom-checkbox">
            <input formControlName="active" class="custom-control-input" id="active" type="checkbox">
            <label class="custom-control-label" for="active">Activo</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <nc-btn-loading [loading]="loading" btnText="Crear usuario"></nc-btn-loading>
        </div>
      </div>
    </form>
  </nc-card>
</nc-page-base>
