<nc-page-base [breadcrumb]="breadcrumb">
  <nc-card [loading]="loading" [spinnerSize]="100">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <div class="row">
        <div class="col-12">
          <nc-non-field-errors [badRequest]="errors"></nc-non-field-errors>
        </div>
      </div>

      <div class="row">
        <div class="col-6 col-md-6 m-auto form-group">
          <nc-form-input formControlName="newPassword"
                         fieldName="newPassword"
                         label="Nueva contraseña"
                         [form]="form"
                         [badRequest]="errors"
                         [submitted]="submitted"
                         [inputType]="formTypes.password">
          </nc-form-input>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 m-auto form-group">
          <nc-form-input formControlName="confirmPassword"
                         fieldName="confirmPassword"
                         label="Confirmar contraseña"
                         [form]="form"
                         [badRequest]="errors"
                         [submitted]="submitted"
                         [inputType]="formTypes.password">
          </nc-form-input>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 m-auto">
          <button class="btn btn-primary" type="submit">
            Cambiar contraseña
          </button>
        </div>
      </div>
    </form>
  </nc-card>
</nc-page-base>
