<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  @RenderSectionAsync("metas", false)
  <title>&nbsp;</title>

  @RenderSectionAsync("styles", false)
</head>
<body id="body">
  <main id="main">
    @RenderBody()
  </main>

  @RenderSectionAsync("scripts", false)
</body>
</html>
