@model NetClock.Application.Cqrs.Accounts.Accounts.Commands.ChangePassword.ChangePasswordViewModel

@{
  Layout = "_Layout";
}

<div>
  <!-- TODO: Mejorar email -->
  @Model.UserName se ha cambiado la contraseña en @Model.SiteName con éxito.
</div>
