@model NetClock.Application.Accounts.Accounts.Commands.ChangePassword.ChangePasswordDto

@{
  Layout = "_Layout";
}

<div>
  @Model.UserName se ha cambiado la contraseña en @Model.SiteName con éxito.
</div>
