@model NetClock.Application.Cqrs.Accounts.Auth.Commands.RecoveryPassword.RecoveryPasswordViewModel

@{
  Layout = "_Layout";
}

<p>Se ha creado una petición de cambio de contraseña</p>
<p>Para generar la nueva contraseña, visita el siguiente <a href="@Html.Raw(Model.CallBack)">Enlace</a></p>
