@model NetClock.Application.Accounts.Accounts.Commands.Register.RegisterViewModel

@{
  Layout = "_Layout";
}

<p>Gracias por registrarte en @Model.SiteName</p>
<p>
  Para validar el correo electrónico, visita el siguiente enlace
  <a href="@Html.Raw(Model.Callback)">
    @Html.Raw(Model.Callback)
  </a>
</p>
