<nc-page-title></nc-page-title>

<div class="container-fluid fade-in">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-lg-4 col-xl-3">
      <div class="card border-0 shadow-sm py-5 px-3">
        <div class="text-center">
          <img src="/assets/images/logo_mini.png" alt="logo" width="120">
        </div>

        <div class="card-body text-center">
          Se ha enviado un email con los pasos a seguir para la recuperación de contraseña
        </div>

        <div class="text-center mt-4">
          <button routerLink="/" class="btn btn-primary">
            <span class="fas fa-sign-in-alt"></span> Identificarse
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
