<div [ngClass]="{'table-responsive': tableResponsive}">
  <table class="table table-hover">
    <ng-content select="[nc-thead]"></ng-content>

    <ng-content select="[nc-tbody]"></ng-content>

    <!-- no data -->
    <ng-container *ngIf="!loading && !transferData.items.length">
      <tbody>
        <tr>
          <td colspan="100%" class="text-center">
            <h6>No hay datos para mostrar</h6>
          </td>
        </tr>
      </tbody>
    </ng-container><!-- end no data -->

    <!-- spinner loading data -->
    <ng-container *ngIf="loading">
      <tbody>
        <tr>
          <td colspan="100%">
            <nc-spinner [loading]="loading"></nc-spinner>
          </td>
        </tr>
      </tbody>
    </ng-container><!-- end spinner loading data -->

    <ng-content select="[nc-tfooter]"></ng-content>
  </table>
</div>
