<div [ngClass]="{'table-responsive': tableResponsive}">
  <table [ngClass]="tableCss" class="table">
    <ng-content select="[ncThead]"></ng-content>

    <ng-container *ngIf="transferData && !loading">
      <!-- table content -->
      <ng-container *ngIf="transferData.items.length">
        <ng-content select="[ncTbody]"></ng-content>
      </ng-container><!-- end table content -->

      <!-- no data -->
      <ng-container *ngIf="!transferData.items.length">
        <tbody>
          <tr>
            <td colspan="100%" class="text-center">
              <h6>No hay datos para mostrar</h6>
            </td>
          </tr>
        </tbody>
      </ng-container><!-- end no data -->
    </ng-container>

    <!-- spinner loading data -->
    <ng-container *ngIf="loading">
      <tbody>
        <tr>
          <td colspan="100%" class="text-center">
            <nc-spinner [loading]="loading"></nc-spinner>
          </td>
        </tr>
      </tbody>
    </ng-container><!-- end spinner loading data -->

    <ng-content select="[ncTfoot]"></ng-content>
  </table>
</div>
