<div [ngClass]="{'table-responsive': tableResponsive}">
  <table class="table table-hover">
    <!-- table head -->
    <ng-content select="[ncThead]"></ng-content>

    <ng-template [ngIf]="tableHeaderConfig">
      <thead>
        <tr ncTableHeader
            [tableHeaderConfig]="tableHeaderConfig"
            [transferData]="transferData"
            (clickOrdering)="onReloadData()">
        </tr>
      </thead>
    </ng-template><!-- end table head -->

    <!-- table content -->
    <ng-container *ngIf="!loading && transferData.items.length">
      <ng-content select="[ncTbody]"></ng-content>
    </ng-container><!-- end table content -->

    <!-- no data -->
    <ng-container *ngIf="!loading && !transferData.items.length">
      <tbody>
        <tr>
          <td colspan="100%" class="text-center">
            <h6>No hay datos para mostrar</h6>
          </td>
        </tr>
      </tbody>
    </ng-container><!-- end no data -->

    <!-- spinner loading data -->
    <ng-container *ngIf="loading">
      <tbody>
        <tr>
          <td colspan="100%" class="text-center">
            <nc-spinner [loading]="loading"></nc-spinner>
          </td>
        </tr>
      </tbody>
    </ng-container><!-- end spinner loading data -->

    <ng-content select="[ncTfoot]"></ng-content>
  </table>
</div>
