<nc-page-base [breadcrumb]="breadcrumb">
  <nc-card *ngIf="user" [loading]="loading" [spinnerSize]="100">
    <h1 ncCardTitle>Detalles {{user.userName}}</h1>

    <pre class="mt-5">
{{user | json}}
    </pre>

    <!-- '/admin/accounts/{slug}/update' -->
    <a [routerLink]="[siteUrls.replace(siteUrls.adminAccountsUpdate, { slug: user.slug })]" class="btn btn-primary">
      Editar usuario
    </a>

    <a [routerLink]="[siteUrls.replace(siteUrls.adminAccountsChangePassword, { slug: user.slug })]" class="btn btn-primary ml-2">
      Cambiar contraseña
    </a>

    <div *ngIf="!user">El usuario no existe</div>
  </nc-card>
</nc-page-base>
