@model NetClock.Application.Accounts.Auth.Commands.Login.LoginCommand

<div class="container">
  <div class="row">
    <div class="col-lg-6 m-auto">
      <div class="card border-0 shadow-sm">
        <div class="card-body">
          <form asp-controller="Auth" asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger pb-0"></div>

            <div class="form-group">
              <input asp-for="UserName" class="form-control" placeholder="Nombre de usuario">
              <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
              <input asp-for="Password" class="form-control" type="password" placeholder="Contraseña">
              <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="btn-group mt-3">
              <button class="btn btn-outline-primary" type="submit">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
